@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-card {
    /* color: aqua; */
    background-color: rgb(189, 178, 164);
    animation: loading-trans infinite 5000ms linear;
}
.shimmer {
    display: flex;
    flex-wrap: wrap;

}
@keyframes loading-trans {
    
    0% {
        color: rgb(0, 0, 0);
        background-color: lightgray;
    }
    50% {
        color: rgb(255, 255, 255);

        background-color: gray;
    }
    100% {
        color: rgb(0, 0, 0);

        background-color: lightgray;
    }
}